################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/obirler.github.io/config
/.vs/obirler.github.io/FileContentIndex
/.vs
